body {
    background: linear-gradient(to bottom, #089beb, #042641);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-right: -10px;
  }

  p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tekst {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  
  .progress-bar-container {
    width: 60%;
    height: 600px;
    background-image: url('beer.svg'); /* Vervang 'beer-glass.svg' met de locatie van jouw eigen SVG-bestand */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: height 0.3s ease-in-out;
  }
  
  .glass-bar {
    width: 60%;
    height: 600px;
    transform-origin: right top;
  }
